body {
  margin: 0;
  background: #2e2a34;
  color: #f7f7f7;
  font-family: "Euclid Circular A", "Poppins";
}

progress {
  position: fixed;
  z-index: 1;
  bottom: 15px;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: inherit;
}

progress::-webkit-progress-value {
  background-color: #8f44fd;
}

section {
  min-height: 100vh;
}

section:nth-child(even) {
  background: #433d4b;
  color: #f7f7f7;
}
