body {
  margin: 20px 0 0;
  background: #8256ff;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 90%;
}

section > div {
  background: #2e2545;
  height: 190px;
  width: 30%;
  opacity: 0;
}
